<ul id="MenuBar1" class="MenuBarVertical">
	<li><a href="#" class="MenuBarItemSubmenu">Financial Applications</a>
	<div style="position:absolute; left:148px; top:0px;">
    	<ul>
        	<li><a href="#">Accounts Payable</a>
        		
        	</li>
          	<li><a href="#">General Ladger</a></li>
           	<li><a href="#">Payroll</a></li>
           	<li><a href="#">Accounts Receivable</a></li>
           	<li><a href="#">Bank Reconclilation</a></li>
           	<li><a href="#">Fixed Assets</a></li>
           	<li><a href="#">Claims</a></li>
      	</ul>
  	</div>
    </li>
    <li><a href="#" class="MenuBarItemSubmenu">Distribution Applications</a>
	<div style="position:absolute; left:148px; top:13px;">
		<ul>
        	<li><a href="#" class="MenuBarItemSubmenu">Inventory</a>
        	<div style="position:absolute; left:148px; top:0px;">
            	<ul>
               		<li><a href="#">Inventory File Maintenance Menu</a>
                   		<ul>
                        <div class="scrollcoltop2" onMouseOver="scroll_up(),MM_swapImage('Image21','','../common/images/gartman_default/scrolltop.gif',1);" onMouseOut="stop_scroll(),MM_swapImgRestore();"><img src="../common/images/gartman_default/scrolltop2.gif" name="Image21" width="242" height="20" border="0" /></div>
                        <div id="scroller" class="scrollcol2">
                        	<li><a href="Item_Master.html">Item Master</a></li>
                        	<li><a href="#">Item Balance</a></li>
                        	<li><a href="#">Bin Location/Order Point</a></li>
                        	<li><a href="#">Buyer Master</a></li>
                        	<li><a href="#">Family Code</a></li>
                        	<li><a href="#">Product Code</a></li>
                        	<li><a href="#">Vendor Master</a></li>
                        	<li><a href="#">Item History</a></li>
                        	<li><a href="#">Item Price File</a></li>
                        	<li><a href="#">Item Specifications</a></li>
                        	<li><a href="#">Hazardous Material Descr.</a></li>
                        	<li><a href="#">Inventroy Transfer</a></li>
                        	<li><a href="#">Drop an Item</a></li>
                        	<li><a href="#">Group Item Size File</a></li>
                        	<li><a href="#">Item Master Global Changes</a></li>
                        	<li><a href="#">Buyers Guide Seasonal Factor</a></li>
                        	<li><a href="#">Product Price File</a></li>
                        	<li><a href="#">Class Code File</a></li>
                        	<li><a href="#">Sales to Inventory/COGS Table</a></li>
                        	<li><a href="#">Item Balance Global Changes</a></li>
                        	<li><a href="#">Laminate Ranking Table</a></li>
                        	<li><a href="#">Update A.B.C Codes to Lam Item</a></li>
                        	<li><a href="#">Inventory Update Menu 11</a></li>
                        </div>
                        <div class="scrollcolbottom2" onMouseOver="scroll_down(),MM_swapImage('Image22','','../common/images/gartman_default/scrollbottom.gif',1);" onMouseOut="stop_scroll(),MM_swapImgRestore();"><img src="../common/images/gartman_default/scrollbottom2.gif" name="Image22" width="242" height="20" border="0" /></div>
              		</ul>
              	</li>
              	<li><a href="#">Invertory Transaction Processing Menu</a></li>
             	<li><a href="#">Inventory Reports Menu</a></li>
                <li><a href="#">Inventory Inquiry Menu</a></li>
                <li><a href="#">Pysical Inventory Menu</a></li>
                <li><a href="#">Purchase Order Entry/Update Menu</a></li>
                <li><a href="#">Purchase Order Reports Menu</a></li>
                <li><a href="#">Bar Code Lable Menu</a></li>
                <li><a href="#">Lot Control Menu</a></li>
                <li><a href="#">Customer Loans</a></li>
         	</ul>
      	</div>
        </li>
       		<li><a href="#">Order Entry/Invoicing</a></li>
        	<li><a href="#">Sales x Press</a></li>
        	<li><a href="#">Miscellaneous Fil Maintenance</a></li>
        	<li><a href="#">Miscellaneous File Reports</a></li>
        	<li><a href="#">Warehouse x Press</a></li>
        	<li><a href="#">Pricing</a></li>
 		</ul>
    </div>
	</li>
	<li><a href="#" class="MenuBarItemSubmenu">Other</a>
    <div style="position:absolute; left:148px; top:26px;">
    	<ul>
        	<li><a href="#">Clock In/Out</a></li>
            <li><a href="#">Manager</a></li>
            <li><a href="#">Contacts</a></li>
       	</ul>
   	</div>
    </li>
	<li><a href="#" class="MenuBarItemSubmenu">Cross Aplications</a>
    <div style="position:absolute; left:148px; top:39px;">
    	<ul>
        	<li><a href="#">Address Book</a></li>
            <li><a href="#">Cross Application Support</a></li>
            <li><a href="#">Custom Miscellaneous Menu</a></li>
            <li><a href="#">Process End Of Day</a></li>
            <li><a href="#">Sign Off</a></li>
       	</ul>
   	</div>
  	</li>
</ul>