<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Gartman">
        <wb-resource deploy-path="/" source-path="/Web Content"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/Java Source"/>
        <property name="java-output-path" value="Web Content/WEB-INF/classes"/>
        <property name="jsf.base" value="7.5.0.0"/>
        <property name="jsf.ri" value="7.5.0.0"/>
        <property name="jsf.extended" value="8.0.500.v20091125-1430"/>
        <property name="context-root" value="Gartman"/>
    </wb-module>
</project-modules>