
#bottom_div{
width: 520px;
height: 150px;
background-color: #b9d1ea;
clear:both;
}

#vista_toolbar {
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	margin: 0;
	color:#fff;
	font-weight:bold;
	padding:0;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	text-transform:uppercase;
	white-space:nowrap;
}

#vista_toolbar ul {
	background-repeat:repeat-x;
	line-height:24px;
	list-style:none;
	margin:0;
	text-align:center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}

#vista_toolbar li {
	display:inline;
}

#vista_toolbar a {
	color:#fff; /* need because it will use default link color */
	float:left; /* left 3 px because of left.png image */
	text-decoration:none;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 5px;
	background-image: url(../images/menu/left.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#vista_toolbar a span {
	display:block;
	float:none;
	padding:0 10px 0 5px;
	background-image: url(../images/menu/right.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

#vista_toolbar a span img {
	border:none;
	margin:18px 4px 0 0;
}

/* show picture when mouse over link */
#vista_toolbar a:hover{
	color: #404040;
	background-image: url(../images/menu/left.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#vista_toolbar a:hover span {
	background-image: url(../images/menu/right.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

#vista_toolbar a.right {
float:right; /* for help button - just add class "right" ->  <a class="right"... */
}





#vista_toolbar .still a {
	color:#404040; /* need because it will use default link color */
	float:left; /* left 3 px because of left.png image */
	text-decoration:none;
	padding-top: 0;
	padding-right: 25px;
	padding-bottom: 0;
	padding-left: 3px;
	background-image: url(../images/menu/left.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#vista_toolbar .still a span {
	display:block;
	float:none;
	padding:0 16px 0 16px;
	background-image: url(../images/menu/right.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}

#vista_toolbar .still a span img {
	border:none;
	margin:18px 4px 0 0;
}

/* show picture when mouse over link */
#vista_toolbar .still a:hover{
	color: #404040;
	background-image: url(../images/menu/left.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#vista_toolbar .still a:hover span {
	background-image: url(../images/menu/right.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
