object{
	border: 0;
	outline: none;
}

a {
	border: 0;
	outline: none;
}
/* Added By Ahsan Khurshid*/
a.oEntry {
	color: #1F599A;
	text-decoration: none;

}

a.oEntry:hover {
	color: #555;
	text-decoration: underline;

}

form {
	border: 0;
	outline: none;
}
body {
	margin:0px auto;
	background-color: #FFF;
	background-image: url(../images/bg.gif);
	background-repeat: repeat-x;
}
.main {
	margin:0px auto;
	width:1251px;
}
form {
	margin:0px;
}

.clear {clear:both;	padding-top:0px;}
.clear1px {clear:both; padding-top:1px;}
.clear2px {clear:both; padding-top:2px;}
.clear3px {clear:both; padding-top:3px;}
.clear4px {clear:both; padding-top:4px;}
.clear5px {clear:both; padding-top:5px;}
.clear6px {clear:both; padding-top:6px;}
.clear7px {clear:both; padding-top:7px;}
.clear8px {clear:both; padding-top:8px;}
.clear9px {clear:both; padding-top:9px;}
.clear10px {clear:both; padding-top:10px;}
.clear11px {clear:both; padding-top:11px;}
.clear12px {clear:both;	padding-top:12px;}
.clear13px {clear:both;	padding-top:13px;}
.clear14px {clear:both;	padding-top:14px;}
.clear15px {clear:both;	padding-top:15px;}
.clear16px {clear:both;	padding-top:16px;}
.clear17px {clear:both;	padding-top:17px;}
.clear18px {clear:both;	padding-top:18px;}
.clear19px {clear:both;	padding-top:19px;}
.clear20px {clear:both;	padding-top:20px;}
.clear21px {clear:both;	padding-top:21px;}
.clear22px {clear:both;	padding-top:22px;}
.clear23px {clear:both;	padding-top:23px;}
.clear24px {clear:both; padding-top:24px;}
.clear25px {clear:both;	padding-top:25px;}
.clear26px {clear:both;	padding-top:26px;}
.clear27px {clear:both;	padding-top:27px;}
.clear28px {clear:both;	padding-top:28px;}
.clear29px {clear:both;	padding-top:29px;}
.clear30px {clear:both;	padding-top:30px;}
.clear31px {clear:both;	padding-top:31px;}
.clear32px {clear:both;	padding-top:32px;}
.clear33px {clear:both;	padding-top:33px;}
.clear34px {clear:both;	padding-top:34px;}
.clear35px {clear:both;	padding-top:35px;}
.clear36px {clear:both;	padding-top:36px;}
.clear37px {clear:both;	padding-top:37px;}
.clear38px {clear:both;	padding-top:38px;}
.clear39px {clear:both;	padding-top:39px;}
.clear40px {clear:both;	padding-top:40px;}
.clear41px {clear:both;	padding-top:41px;}
.clear42px {clear:both;	padding-top:42px;}
.clear43px {clear:both;	padding-top:43px;}
.clear44px {clear:both; padding-top:44px;}
.clear45px {clear:both;	padding-top:45px;}
.clear46px {clear:both;	padding-top:46px;}
.clear47px {clear:both;	padding-top:47px;}
.clear48px {clear:both;	padding-top:48px;}
.clear49px {clear:both;	padding-top:49px;}
.clear50px {clear:both;	padding-top:50px;}
.clear51px {clear:both;	padding-top:51px;}
.clear52px {clear:both;	padding-top:52px;}
.clear53px {clear:both;	padding-top:53px;}
.clear54px {clear:both;	padding-top:54px;}
.clear55px {clear:both;	padding-top:55px;}
.clear56px {clear:both;	padding-top:56px;}
.clear57px {clear:both;	padding-top:57px;}
.clear58px {clear:both;	padding-top:58px;}
.clear59px {clear:both;	padding-top:59px;}
.clear60px {clear:both;	padding-top:60px;}
.clear61px {clear:both;	padding-top:61px;}
.clear62px {clear:both;	padding-top:62px;}
.clear63px {clear:both;	padding-top:63px;}
.clear64px {clear:both;	padding-top:64px;}
.clear65px {clear:both;	padding-top:65px;}
.clear66px {clear:both;	padding-top:66px;}
.clear67px {clear:both;	padding-top:67px;}
.clear68px {clear:both;	padding-top:68px;}
.clear69px {clear:both;	padding-top:69px;}
.clear70px {clear:both;	padding-top:70px;}
.clear80px {clear:both;	padding-top:80px;}

.logoheader {
	margin:0px auto;
	width:1251px;
	height:55px;
}
.logo {
	width:217px;
	height:43px;
	padding:8px 0px 0px 4px;
}
.logo2 {
	width:217px;
	height:43px;
	padding:4px 0px 0px 11px;
}
.logo3 {
	width:68px;
	height:50px;
	padding:0px 5px 0px 0px;
}
.container {
	margin:0px;
	padding:5px;
	border-right:1px solid #aaa;
	border-left:1px solid #aaa;
	background-color:#FFF;
}
.topbar_heading {
	height:25px;
}
.topbar_headingtxt1 {
	font: bold 14px Tahoma, Geneva, sans-serif;
	color:#000;
	text-align:center;
	letter-spacing:.5px;
	text-transform:uppercase;
}
.contentbg {
	background-color: #e8e9eb;
	background-image: url(../images/content_bg.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-position: center top;
	height:510px;
}
.contentbgnew {
	background-color: #e8e9eb;
	background-image: url(../images/content_bg.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-position: center top;
	height:470px;
	padding:5px;
}
.contentbg2 {
	background-color: #e8e9eb;
	background-image: url(../images/content_bg.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-position: center top;
}
.login_bg {
	margin:0px auto;
	width:580px;
	height:275px;
	background: url(../images/loging_bg.jpg) no-repeat center top;
}
.logintxt {
	font: bold 12px Calibri, Tahoma;
	text-transform:uppercase;
	color:#000;
	padding:0px 10px 0px 0px;
	text-align:right;
}

.errorMsg {
	font: bold 12px Calibri, Tahoma;
	/*text-transform:uppercase;*/
	color:red;
	padding:0px 10px 0px 0px;
	text-align:center;
}

.errorMsg2 {
	font: bold 14px Calibri, Tahoma;
	/*text-transform:uppercase;*/
	color:red;
	padding:0px 10px 0px 0px;
	text-align:center;
}


.clickbtnmain {
	padding:0px 146px 0px 0px;
}
.clickherebtn input {
	width:78px;
	height:24px;
	background:transparent url(../images/clickhere_btn.png) no-repeat;
	display: block;
	color: #fff;
	border: 0;
	text-transform:uppercase;
	font: bold 12px Calibri, Tahoma;
	margin: 0;
	cursor: pointer;
}

.clickherebtn input:hover {
	color: #39434a;
	background:transparent url(../images/clickhere_btn.png) no-repeat center -24px;
}
INPUT.logginfield {
	width:190px;
	height:18px;
	border: 1px solid #59656c;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
INPUT.logginfield:focus {
	width:190px;
	height:18px;
	border: 1px solid #ffa11c;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}
.footer {
	margin:0px;
	height:26px;
}
.fottxt {
	font: bold 11px Tahoma, Geneva, sans-serif;
	text-align:center;
	text-transform:uppercase;
	color:#FFF;
	padding:0px 5px 0px 5px;
}

.meheading {
	font: bold 11px Tahoma, Geneva, sans-serif;
	color:#FFF;
	text-transform:uppercase;
	width:235px;
	height:20px;
	margin:0px;
	padding:5px 0px 0px 5px;
	background:#ffa11c;
	border-left:1px solid #778;
	border-right:1px solid #778;
}
.scrollcoltop {
	color:red;
	font-size:18px;
	z-index:1;
	position:absolute;
	left:115px;
	top:-68px;
	cursor:pointer;
}
.scrollcolbottom {
	color:blue;
	z-index:1;
	font-size:18px;
	position:absolute;
	left:115px;
	top:268px;
	cursor:pointer;
}
.scrollcol {
	scrollbar-face-color: #ffa11c;
	scrollbar-face-color: #ffa11c;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #ffa11c;
	scrollbar-track-color: #fff;
	overflow-y:auto;
	overflow-x:hidden;
	width:242px;
	height:319px;
	position:absolute;
	left:115px;
	top:-50px;
}
.scrollcoltop2 {
	color:red;
	font-size:18px;
	z-index:1;
	position:absolute;
	left:115px;
	top:-18px;
	cursor:pointer;
}
.scrollcolbottom2 {
	color:blue;
	z-index:1;
	font-size:18px;
	position:absolute;
	left:115px;
	top:312px;
	cursor:pointer;
}
.scrollcol2 {
	scrollbar-face-color: #ffa11c;
	scrollbar-face-color: #ffa11c;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #ffa11c;
	scrollbar-track-color: #fff;
	overflow-y:hidden;
	overflow-x:hidden;
	width:242px;
	height:319px;
	position:absolute;
	left:115px;
	top:0px;
}
.belowbtn {
	margin:0px;
}
.contetntimg {
	width:690px;
	height:421px;
}
.top_menuimg {
	width:235px;
	height:20px;
	background-image: url(../images/top_menuimg.png);
	background-repeat: no-repeat;
	font: bold 13px Tahoma, Geneva, sans-serif;
	text-transform:uppercase;
	color:#FFF;
	padding:5px 0px 0px 7px;
}
.below_menuimg {
	width:242px;
	height:10px;
}
.searchbg {
	width:242px;
	height:41px;
	background-image: url(../images/searchbg.png);
	background-repeat: no-repeat;
}
input.login_phone {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:18px;
	width:150px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
}
/*input.login_phone2 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:18px;
	width:150px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#ebeaea;
}
input.login_phone2:focus {
	padding-top:0px;
	border: solid 1px #ffa11c;
	padding-left:4px;
	height:18px;
	width:150px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#fff;
}*/
input.login_phone2 {
}
input.login_phone2:focus {
}
input.login_phone3 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:18px;
	width:110px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#ebeaea;
}
input.login_phone3:focus {
	padding-top:0px;
	border: solid 1px #ffa11c;
	padding-left:4px;
	height:18px;
	width:110px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#fff;
}
input.login_phone4 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:18px;
	width:70px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#ebeaea;
}
input.login_phone4:focus {
	padding-top:0px;
	border: solid 1px #ffa11c;
	padding-left:4px;
	height:18px;
	width:70px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#fff;
}
input.login_phone5 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:18px;
	width:50px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#ebeaea;
}
input.login_phone5:focus {
	padding-top:0px;
	border: solid 1px #ffa11c;
	padding-left:4px;
	height:18px;
	width:50px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#fff;
}
input.login_phone6 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:18px;
	width:30px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#ebeaea;
}
input.login_phone6:focus {
	padding-top:0px;
	border: solid 1px #ffa11c;
	padding-left:4px;
	height:18px;
	width:30px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#fff;
}
input.login_phone7 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:18px;
	width:200px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#ebeaea;
}
input.login_phone7:focus {
	padding-top:0px;
	border: solid 1px #ffa11c;
	padding-left:4px;
	height:18px;
	width:200px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#fff;
}
input.login_phone8 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:18px;
	width:300px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#ebeaea;
}
input.login_phone8:focus {
	padding-top:0px;
	border: solid 1px #ffa11c;
	padding-left:4px;
	height:18px;
	width:300px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#fff;
}
input.submit_button_contact {
	width:65px;
	height:22px;
	background-color:#9f620c;
	COLOR: #fff;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #dcdcdc;
	border-right-color: #ffa11c;
	border-bottom-color: #ffa11c;
	border-left-color: #dcdcdc;
	cursor:pointer;
	font: bold 11px Tahoma, Geneva, sans-serif;
}

input.submit_button_contact:hover {
	background-color:#f6f6f6;
	COLOR: #444;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #a5a5a5;
	border-right-color: #444;
	border-bottom-color: #444;
	border-left-color: #a5a5a5;
}

.poweredby {
	width:242px;
	height:71px;
}
.tabtxthead {
	font: bold 12px Tahoma;
	color:#fff;
	padding:0px 10px 0px 10px;
}
.tabtxthead2 {
	font: bold 11px Tahoma;
	color:#000;
}
.bar {
	border:1px solid #1b4d8c;
	padding:2px;
}
.bar td{
	padding:3px;
	/*border:1px solid #fff;*/
}
/*.tabtxt table, tr, td {
	font: bold 14px Calibri, Tahoma;
	color:#1b4d8c;
}*/
.maintopmenu3 {
	margin:0px;
	height:380px;
	overflow:auto;
	
	scrollbar-3dlight-color:#4a6795;
	scrollbar-arrow-color:black;
	scrollbar-track-color:#4a6795;
	scrollbar-darkshadow-color:white;
	scrollbar-face-color:white;
	scrollbar-highlight-color:white;
	scrollbar-shadow-color:white;
}
.errortxt {
	text-align:center;
	color:#F00;
	font: bold 14px Calibri, Tahoma;
	text-transform:uppercase;
	letter-spacing:0px;
}
.red {
	color:#F00;
}
.pad {
	padding-left:30px;
}
.pad0 {
	padding-left:30px;
}
.pad1 {
	padding-left:70px;
}
.pad2 {
	padding-left:200px;
}
.pad3 {
	padding-left:340px;
}
.pad4 {
	padding-left:460px;
}
INPUT.topbarline1 {
	width:196px;
	height:18px;
	padding:0px 2px;
	border: 1px solid #7e9fc7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
INPUT.topbarline1:focus {
	border: 1px solid #5190cd;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background:#dbebff url(../images/fieldshadow.png) repeat-x center bottom;
}
INPUT.topbarline2 {
	width:88px;
	height:18px;
	padding:0px 2px;
	border: 1px solid #7e9fc7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
INPUT.topbarline2:focus {
	border: 1px solid #5190cd;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background:#dbebff url(../images/fieldshadow.png) repeat-x center bottom;
}
.barodd {
	border:1px solid #ccc;
	background-color:#f7f7f7;
	font: bold 14px Calibri, Tahoma;
	color:#1b4d8c;
}
.barodd td{
	padding:3px;
}
.bareven {
	border:1px solid #ccc;
	background-color:#ededed;
	font: bold 14px Calibri, Tahoma;
	color:#1b4d8c;
}
.bareven td{
	padding:3px;
}

.boxloanpage {
	margin:0px auto;
	width:auto;
}
.maintopmenu2 {
	margin:0px;
	height:383px;
	overflow:auto;
	
	scrollbar-3dlight-color:#4a6795;
	scrollbar-arrow-color:black;
	scrollbar-track-color:#4a6795;
	scrollbar-darkshadow-color:white;
	scrollbar-face-color:white;
	scrollbar-highlight-color:white;
	scrollbar-shadow-color:white;
}
.maintopmenu4 {
	margin:0px;
	height:395px;
	overflow:auto;
	
	scrollbar-3dlight-color:#4a6795;
	scrollbar-arrow-color:black;
	scrollbar-track-color:#4a6795;
	scrollbar-darkshadow-color:white;
	scrollbar-face-color:white;
	scrollbar-highlight-color:white;
	scrollbar-shadow-color:white;
}
.txt_12_gray {
	color:#666666;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	text-decoration:none;
	width:157px;
	height:18px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	border: 1px solid #999;
}

.main2 {
	margin:0px auto;
	width:700px;
}
.container2 {
	margin:0px;
	padding:5px;
	background-color:#FFF;
	border: 1px solid #aaa;
}
.contentbg2 {
	background-color: #e8e9eb;
	background-image: url(../images/content_bg.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-position: center top;
}
/*new*/
.screenshowtxt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	color:#000;
	text-decoration:underline;
	width:180px;
	cursor:pointer;
}
.screenshowtxt a{
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#00F;
	text-decoration:underline;
	width:180px;
}
.screenshowtxt a:hover{
	color:#F00;
}
.screenshowtxt2 a{
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#000;
	text-decoration:none;
	width:180px;
}
.screenimg {
	border: 8px ridge #aacbff;
}
/*new*/

/*Aug 24 2010*/
/*.functionbtn a{
	font:bold 11px Tahoma, Geneva, sans-serif;
	color:#FFF;
	background:transparent url(../images/menu_img.gif) repeat-x center top;
	height:20px;
	padding:4px 10px 0px 10px;
	text-decoration:none;
	width:auto;
	display:block;
	border:1px solid #4e6898;
	text-align:center;
	white-space:nowrap;
}
.functionbtn a:hover{
	background:transparent url(../images/menu_img.gif) repeat-x center bottom;
	border:1px solid #59656c;
	color:#404040;
}
a.functionbtn {
	font:bold 11px Tahoma, Geneva, sans-serif;
	color:#FFF;
	background:transparent url(../images/menu_img.gif) repeat-x center top;
	height:20px;
	padding:4px 10px 0px 10px;
	text-decoration:none;
	width:auto;
	display:block;
	border:1px solid #4e6898;
	text-align:center;
	white-space:nowrap;
}
a.functionbtn:hover {
	background:transparent url(../images/menu_img.gif) repeat-x center bottom;
	border:1px solid #59656c;
	color:#404040;
}*/
functionbtn a{
visibility:hidden;
}
a.functionbtn {
visibility:hidden; 
}
.menumainleft {
	margin:0px;
	padding:0px;
	border: 0px solid #ccc;
	height:430px;
	scrollbar-face-color: #ffa11c;
	scrollbar-face-color: #ffa11c;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
	overflow-y:auto;
	overflow-x:hidden;
	width:241px;
}
.contentmainright {
	margin:0px;
	padding:5px;
	border: 1px solid #ccc;
	height:435px;
	scrollbar-face-color: #ffa11c;
	scrollbar-face-color: #ffa11c;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
	overflow-y:auto;
	overflow-x:hidden;
	width:712px;
}
.contentmainrightnew {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding:5px;
	height:448px;
}

.contentbgmainleft {
	/*background:transparent url(../images/content_bg.gif) repeat-x center top;*/
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 0px 0px 0px;
	height:500px;
	overflow: auto;
	width: 182px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}
.contentbgmainleftempty {
	background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 0px 0px 0px;
	height:500px;
	overflow: auto;
	width: 25px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}
.contentbgmainright {
	/*background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 5px 0px 0px;*/
	height:500px;
	overflow: auto;
	width: 1031px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}

.contentbgmainright4 {
	/*background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 5px 0px 0px;*/
	height:500px;
	overflow: auto;
	width: 931px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}

.contentbgmainright2 {
	/*background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 5px 0px 0px;*/
	height:500px;
	overflow: auto;
	width: 850px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}
.contentbgmainright3 {
	/*background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 5px 0px 0px;*/
	height:500px;
	overflow: auto;
	width: 798px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}
.contentbgmainrightfull {
	/*background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 5px 0px 0px;*/
	height:500px;
	overflow: auto;
	width: 1168px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}

.contentbgmainrightfullN {
	/*background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 5px 0px 0px;*/
	height:500px;
	overflow: auto;
	width: 668px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}

.contentbgnew5 {
	background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 0px 0px 5px;
}
.contentbgnew52 {
	background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
/*Tree Menu Start*/
.menumain {
	margin:0px;
	/*padding:5px;
	border: 1px solid #ccc;
	height:430px;
	scrollbar-face-color: #ffa11c;
	scrollbar-face-color: #ffa11c;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
	overflow-y:hidden;
	overflow-x:auto;*/
	/*white-space:nowrap;*/
	white-space:normal;
}
/*.menumain {
	overflow-x:auto;
	overflow-y:auto;
	height:478px;
	width:170px;
}*/
.testtxt {
	font-size:13px;
	text-decoration:underline;
	color:#000;
	font-weight:700;
}
.testtxt2 a{
	font-weight:700;
	padding-bottom:0px;
	font-size:11px;
	color:#003280;
	text-decoration:none;
	
}
.testtxt3 a{
	font-weight:700;
	color:#000;
	font-size:11px;
}
.testtxt4 a{
	font-weight:400;
	color:#000;
	font-size:11px;
}
.belowbtnnew {
	margin:0px;
	padding:5px 0px 0px 0px;
}
.belowbtnnew2 {
	margin:0px;
	padding:5px 0px 5px 0px;
}
/*Tree Menu End*/
.topbar_headingnew {
	height:19px;
	background: url(../images/topheader_bg.gif) repeat-x;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}
.topbar_headingnnew {
	height:19px;
	background: url(../images/topheader_bgnew.gif) repeat-x;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}
.topbar_headingtxt1new {
	font: bold 13px Tahoma, Geneva, sans-serif;
	color:#000;
	text-align:center;
	letter-spacing:.5px;
	text-transform:uppercase;
}
#showbox {
	width:21px;
	height:13px;
	background-image: url(../images/showhideiconnew.gif);
	background-repeat: no-repeat;
	cursor:pointer;
}
#hidebox {
	width:21px;
	height:13px;
	background-image: url(../images/showhideiconnew.gif);
	background-repeat: no-repeat;
	background-position: -22px 0px;
	cursor:pointer;
}
#showbox2 {
	width:11px;
	height:465px;
	background-image: url(../images/showhideicon.png);
	background-repeat: no-repeat;
	background-position: -8px center;
	cursor:pointer;
}
#hidebox2 {
	width:11px;
	height:465px;
	background-image: url(../images/showhideicon.png);
	background-repeat: no-repeat;
	background-position: 3px center;
	cursor:pointer;
}
.contentbgmainleft2 {
	background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 0px 0px 0px;
	height:465px;
	overflow: auto;
	width: 227px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}
.contentbgmainleftempty2 {
	background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 0px 0px 0px;
	height:465px;
	overflow: auto;
	width: 25px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}
.contentbgmainright2 {
	background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 5px 0px 0px;
	height:445px;
	overflow: auto;
	width: 736px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}
.contentbgmainrightfull2 {
	background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 5px 0px 0px;
	height:445px;
	overflow: auto;
	width: 965px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}
#colcenterover {
	margin:0px;
}
a {
	color:#000;
}
#poweredbynew {
	width:229px;
	height:35px;
	background-color:#000;
}
/*Aug 24 2010*/

.fortxt {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color:#060;
}
.fortxtred {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color:#900;
}
.fortxtgreen {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color:#060;
}
.fortxtblue {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#006;
}
/*Sep 16 2010*/
.topbar_headingtxtleft {
	font: bold 13px Tahoma, Geneva, sans-serif;
	color:#000;
	text-align:center;
	letter-spacing:.5px;
	text-transform:uppercase;
	/*padding-left: 325px;*/
}
.topbar_headingtxtright {
	font: bold 11px Tahoma, Geneva, sans-serif;
	color:#000;
	text-align:right;
	letter-spacing:.5px;
	text-transform:uppercase;
	/*padding-right: 5px;*/
}
.topbar_headingtxtright a{
	font: bold 11px Tahoma, Geneva, sans-serif;
	color:#000;
	text-align:right;
	letter-spacing:.5px;
	text-transform:uppercase;
	text-decoration: underline;
	/*padding-right: 5px;*/
}
.topbar_headingtxtright a:hover{
	text-decoration: none;
}

.functionbtnENTER a{
	font:bold 11px Tahoma, Geneva, sans-serif;
	color:#FFF;
	background:transparent url(../images/menu_img.gif) repeat-x center top;
	height:20px;
	padding:4px 10px 0px 10px;
	text-decoration:none;
	width:42px;
	display:block;
	border:1px solid #4e6898;
	text-align:center;
	white-space:nowrap;
}
.functionbtnENTER a:hover{
	background:transparent url(../images/menu_img.gif) repeat-x center bottom;
	border:1px solid #59656c;
	color:#404040;
}
a.functionbtnENTER {
	font:bold 11px Tahoma, Geneva, sans-serif;
	color:#FFF;
	background:transparent url(../images/menu_img.gif) repeat-x center top;
	height:20px;
	padding:4px 10px 0px 10px;
	text-decoration:none;
	width:42px;
	display:block;
	border:1px solid #4e6898;
	text-align:center;
	white-space:nowrap;
}
a.functionbtnENTER:hover {
	background:transparent url(../images/menu_img.gif) repeat-x center bottom;
	border:1px solid #59656c;
	color:#404040;
}

/**************************Dec 03 2010**********************************/
.container58 {
	margin:0px;
	/*padding:5px;
	border-right:1px solid #aaa;
	border-left:1px solid #aaa;
	background-color:#FFF;*/
}
.maintopmenu58 {
	margin:0px;
	height:410px;
	overflow:auto;
	
	scrollbar-3dlight-color:#4a6795;
	scrollbar-arrow-color:black;
	scrollbar-track-color:#4a6795;
	scrollbar-darkshadow-color:white;
	scrollbar-face-color:white;
	scrollbar-highlight-color:white;
	scrollbar-shadow-color:white;
}
.oddbar {
	border:1px solid #ccc;
	background-color:#f7f7f7;
	font: bold 11px Tahoma;
	color:#59656c;
	cursor:pointer;
	text-align:left;
	text-decoration: none;
}
.oddbar:hover {
	background-color:#59656c;
	color:#fff;
	text-decoration: none;
}

.oddbar td{
	padding:2px 5px 2px 5px;
}
.evenbar {
	border:1px solid #ccc;
	background-color:#ededed;
	font: bold 11px Tahoma;
	color:#59656c;
	cursor:pointer;
	text-align:left;
}
.evenbar:hover {
	background-color:#59656c;
	color:#fff;
}
.evenbar td{
	padding:2px 5px 2px 5px;
}
.leftbtn {
	margin:0 0 1px 0;
	width:230px;
}
.leftbtn a{
	font:bold 12px Tahoma, Geneva, sans-serif;
	height:18px;
	padding:1px 5px 0px 5px;
	text-decoration:none;
	width:auto;
	display:block;
	text-align:left;
	white-space:nowrap;
	/*background:transparent url(../images/leftmenu_img.png) repeat-x center top;
	color:#404040;
	border:1px solid #59656c;*/
	/*background:transparent url(../images/leftmenu_img.png) repeat-x center bottom;*/
	border-bottom:1px solid #59656c;
	color:#fff;
}
.leftbtn a:hover{
	/*background:transparent url(../images/leftmenu_img.png) repeat-x center bottom;
	border:1px solid #4e6898;
	color:#fff;*/
	background:transparent url(../images/leftmenu_img.png) repeat-x center top;
	color:#404040;
	border:1px solid #59656c;
}
.barhead {
	padding:2px 5px 2px 5px;
	border-left:1px solid #536f97;
	border-right:1px solid #536f97;
	border-top:1px solid #536f97;
	border-bottom:1px solid #fff;
	text-align:left;
}
.barhead2 {
	padding:2px 5px 2px 5px;
	border-left:1px solid #dfe7f2;
	border-right:1px solid #dfe7f2;
	border-top:1px solid #dfe7f2;
	border-bottom:1px solid #536f97;
	text-align:left;
}
.barhead3 {
	padding:2px 5px 2px 5px;
	border-left:1px solid #536f97;
	border-right:1px solid #536f97;
	border-top:1px solid #536f97;
	border-bottom:1px solid #fff;
	text-align:center;
}
.barhead4 {
	padding:2px 5px 2px 5px;
	border-left:1px solid #536f97;
	border-right:1px solid #536f97;
	border-top:1px solid #536f97;
	border-bottom:1px solid #fff;
	text-align:left;
}
.barhead4new {
	padding:2px 5px 2px 5px;
	border-left:1px solid #536f97;
	border-right:1px solid #536f97;
	border-top:1px solid #536f97;
	border-bottom:1px solid #fff;
	background:#1f599a url(../images/barhead.png) repeat-x center top;
}
.barhead4new2 {
	padding:2px 5px 2px 5px;
	border:1px solid #313b41;
	background:#68737a url(../images/barhead2.jpg) repeat-x center top;
}
.barhead4new3 {
	padding:2px 5px 2px 5px;
	border-left:none;
	border-right:none;
	/*border-top:1px solid #313b41;*/
	border-bottom:none;
	background:#fff url(../images/bg_boxrpt4.png) repeat-x center top;
}
.barhead4new3left {
	background:transparent url(../images/barhead2_left.png) no-repeat right top;
}
.barhead4new3right {
	background:transparent url(../images/barhead2_right.png) no-repeat left top;
}
.barheadrpt {
	padding:2px 5px 2px 5px;
	border-right:5px solid #1d5495;
	border-left:1px solid #c5c5c5;
	border-top:1px solid #c5c5c5;
	border-bottom:1px solid #1d5495;
	text-align:right;
	background:#d3d3d3 url(../images/bg_boxrpt3.png) repeat-x center bottom;
	color:#000;
}
.oddbar58 {
	border:1px solid #ccc;
	background-color:#f7f7f7;
	font: bold 11px Tahoma;
	color:#1b4d8c;
	text-align:left;
}
.oddbar58:hover {
	background-color:#5490c0;
	color:#fff;
}
.oddbar58 td{
	padding:2px 5px 2px 5px;
}
.evenbar58 {
	border:1px solid #ccc;
	background-color:#ededed;
	font: bold 11px Tahoma;
	color:#1b4d8c;
	text-align:left;
}
.evenbar58:hover {
	background-color:#5490c0;
	color:#fff;
}
.evenbar58 td{
	padding:2px 5px 2px 5px;
}
/********************************/
.oddbar59 {
	border:1px solid #ccc;
	background-color:#f7f7f7;
	font: bold 11px Tahoma;
	color:#1b4d8c;
	text-align:left;
}
.oddbar59 td{
	padding:2px 5px 2px 5px;
}
.evenbar59 {
	border:1px solid #ccc;
	background-color:#ededed;
	font: bold 11px Tahoma;
	color:#1b4d8c;
	text-align:left;
}
.evenbar59 td{
	padding:2px 5px 2px 5px;
}
/******************************/
.oddbar582 {
	border:1px solid #ccc;
	background-color:#f7f7f7;
	font: bold 11px Tahoma;
	color:#1b4d8c;
	text-align:left;
}
/*.oddbar582:hover {
	background-color:#5490c0;
	color:#fff;
}*/
.oddbar582 td{
	padding:2px 5px 2px 5px;
}
.evenbar582 {
	border:1px solid #ccc;
	background-color:#ededed;
	font: bold 11px Tahoma;
	color:#1b4d8c;
	text-align:left;
}
/*.evenbar582:hover {
	background-color:#5490c0;
	color:#fff;
}*/
.evenbar582 td{
	padding:2px 5px 2px 5px;
}
.leftline {
	border-left:1px solid #ccc;
}
.leftline2 {
	border-left:1px solid #677c95;
}
.topbarrmain {
	margin:0;
}
.topbarr {
	margin:0;
	background:#b1c1d3;
	border:1px solid #677c95;
	background:#2c68a5 url(../images/barhead.png) repeat-x center top;
}
.topbarrr2 {
	margin:0;
	/*background:#b1c1d3;*/
	border:1px solid #677c95;
	background:#2c68a5 url(../images/barhead.png) repeat-x center top;
}
.topbarrr2 td{
	padding:0 0 2px 0;
}
input.fld1 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:14px;
	width:30px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#ebeaea;
}
input.fld1:focus {
	padding-top:0px;
	border: solid 1px #ffa11c;
	padding-left:4px;
	height:14px;
	width:30px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#fff;
}
input.fld2 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:14px;
	width:85px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;
	background-color:#ebeaea;
}
input.fld2:focus {
	padding-top:0px;
	border: solid 1px #ffa11c;
	/*padding-left:4px;
	height:14px;
	width:30px;
	background-image: url(../images/rpt_img2.png);
	background-repeat: repeat-x;*/
	background-color:#fff;
}
.topbarrtxt {
	font: bold 12px Tahoma;
	color:#fff;
	padding:0px 5px 0px 5px;
}
.topbarrtxtrt {
	font: bold 12px Tahoma;
	color:#333;
	padding:0px 5px 0px 5px;
}
/*.bartmain {
	border:1px solid #677c95;
	padding:0px;
	background:#d2e1eb url(../images/bg_boxrpt.png) repeat-x center bottom;
	border-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius:: 4px;
}**************old*/
.bartmain {
	padding:5px 0;
	/*border:1px solid #677c95;
	background:#d2e1eb url(../images/bg_boxrpt.png) repeat-x center bottom;
	border-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius:: 4px;*/
}
.barttxt {
	font: bold 12px Tahoma;
	color:#fff;
	padding:0px 5px 0px 5px;
	/*background:#225cad;
	background:#3b4d62;*/
	background:#47586d url(../images/barhead3.png) repeat-x center top;
	width:148px;
	position:fixed;
	margin-left:1px;
	margin-top:-15px;
	border-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius:: 4px;
}
.barttop {
	border-top:2px solid #677c95;
	/*padding:5px;*/
}
.bartright {
	border-right:2px solid #677c95;
	/*padding:5px;*/
}
.bartbottom {
	border-bottom:2px solid #677c95;
	/*padding:5px;*/
}
.bartleft {
	border-left:2px solid #677c95;
	/*padding:5px;*/
}
.oddbarsumhead {
	/*border:1px solid #ccc;
	background-color:#3c7bc1;
	background:#2c68a5 url(../images/barhead.png) repeat-x center top;
	background:#d2e1eb url(../images/bg_boxrpt.png) repeat-x center bottom;*/
	font: bold 13px Tahoma, Geneva, sans-serif;
	color:#000;
}
/*.oddbarsum:hover {
	background-color:#f7f7f7;
	color:#59656c;
	font: bold 12px Calibri, Tahoma;
}*/
.oddbarsumhead td{
	padding:1px 5px 1px 5px;
}
.oddbarsum {
	border:1px solid #ccc;
	/*background-color:#3c7bc1;*/
	background:#2c68a5 url(../images/barhead.png) repeat-x center top;
	font: bold 11px Tahoma;
	color:#fff;
	text-align:left;
}
/*.oddbarsum:hover {
	background-color:#f7f7f7;
	color:#59656c;
	font: bold 12px Calibri, Tahoma;
}*/
.oddbarsum td{
	padding:1px 5px 1px 5px;
}
.evenbarsum {
	border:1px solid #ccc;
	background-color:#ededed;
	font: bold 11px Tahoma, Geneva, sans-serif;
	color:#333;
	text-align:left;
}
.evenbarsum:hover {
	background-color:#5490c0;
	color:#fff;
	font: bold 11px Tahoma, Geneva, sans-serif;
}
.evenbarsum td{
	padding:1px 5px 1px 5px;
}
table.commain {
	border-collapse:collapse;
}
.commain {
	font:normal 12px Tahoma, Geneva, sans-serif;
	color:#1c577c;
	border:1px solid #a3bdde;
}
.commain td{
	/*font:normal 12px "Courier New", Courier, monospace;
	color:#1c577c;*/
	border-bottom:1px solid #e0ece0;
	background-color:#eefaee;
}
.comtxt {
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#fff;
}
.comtxt2 {
	font:bold 14px Tahoma, Geneva, sans-serif;
	color:#e0f1ff;
	/*color:#1c577c;*/
}
.headercomrpt {
	background: url(../images/headercomrpt.png) repeat-x center top;
	color:#000;
	font-weight:bold;
}
.line {
	border-top: 1px solid #416295;
}
.oddbarana {
	background-color:#f7f7f7;
	font: bold 11px Tahoma;
	color:#59656c;
	cursor:pointer;
	text-align:left;
}
.oddbarana:hover {
	background-color:#59656c;
	color:#fff;
}
.oddbarana td{
	padding:2px 5px 2px 5px;
	border:1px solid #ccc;
}
.evenbarana {
	background-color:#ededed;
	font: bold 11px Tahoma;
	color:#59656c;
	cursor:pointer;
	text-align:left;
}
.evenbarana:hover {
	background-color:#59656c;
	color:#fff;
}
.evenbarana td{
	padding:2px 5px 2px 5px;
	border:1px solid #ccc;
}
.errrortxt {
	font:normal 13px Tahoma;
	color:#800000;
}
/**********maintopmenu58***************update****/
.companyinnerboxmain {
	/*background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 5px 0px 0px;*/
	height:397px;
	overflow: auto;
	/*width: 1041px;*/
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}
.companyinnerboxmain2 {
	/*background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 5px 0px 0px;*/
	height:375px;
	overflow: auto;
	/*width: 1041px;*/
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}
.bartmaintop {
	border:1px solid #677c95;
	padding:0px 2px 2px 2px;
	height:18px;
	background:#d2e1eb url(../images/bg_boxrpt2.png) repeat-x center bottom;
	border-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius:: 4px;
}
select.comfild {
	font:normal 12px Tahoma, Geneva, sans-serif;
	height:20px;
	width:140px;
	padding:1px;
	border:1px solid #adc0dc;
}
.topbar_headingnew58 {
	height:19px;
	background: url(../images/topheader_bg.gif) repeat-x;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}
.leftbtn58 a{
	background:transparent url(../images/arrowimg.png) no-repeat 5px 4px;
	height:18px;
	padding:2px 5px 0px 20px;
	font:normal 12px Tahoma, Geneva, sans-serif;
	text-decoration:none;
	border:1px solid transparent;
	display:block;
	text-align:left;
}
.leftbtn58 a:hover{
	background:#2b394c url(../images/leftmenuover.png) no-repeat left bottom;
	border-top:1px solid #6d7e91;
	border-bottom:1px solid #6d7e91;
	border-left:none;
	border-right:none;
	color:#174787;
	font:bold 12px Tahoma, Geneva, sans-serif;
}
.leftbtn58 a:active{
	background:#2b394c url(../images/leftmenuover.png) no-repeat left top;
	border-top:1px solid #6d7e91;
	border-bottom:1px solid #6d7e91;
	border-left:none;
	border-right:none;
	color:#fff;
	font:bold 12px Tahoma, Geneva, sans-serif;
}
.leftbtnbg {
	background:#dde5ef url(../images/leftmenu_main.png) repeat-x center bottom;
	width:230px;
	border-top:1px solid #5b728d;
	border-bottom:1px solid #59656c;
	border-right:1px solid #59656c;
	border-left:1px solid #59656c;
}
.contentbglogin {
	background-color: #e8e9eb;
	background-image: url(../images/content_bg.gif);
	background-repeat: repeat-x;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-position: center top;
	height:503px;
}
.screenshowtxt58 {
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#000;
	text-decoration:none;
	width:180px;
	display:block;
	cursor:pointer;
	position:absolute;
	padding:0 0 0 400px;
}
.screenshowtxt582 {
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#000;
	text-decoration:none;
	width:180px;
	display:block;
	cursor:pointer;
}
.screenimg {
	border: 8px ridge #aacbff;
}
table.commaintab {
	border-collapse:collapse;
}
.commaintab {
	font:normal 12px Tahoma;
	color:#1c577c;
}
.commaintab td{
	/*font:normal 12px "Courier New", Courier, monospace;
	color:#1c577c;
	background-color:#eefaee;*/
	border:1px solid #ccc;
}
.bartmaintop58 {
	border:1px solid #677c95;
	padding:0px 2px 2px 2px;
	height:18px;
	background:#d2e1eb url(../images/bg_boxrpt2.png) repeat-x center bottom;
	/*border-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius:: 4px;*/
	color: #fff;
	font: bold 11px tahoma;
}

/*****Feb 09 2011******/
.maintopmenu09 {
	margin:0px;
	height:430px;
	overflow:auto;
	/*border:1px solid #000;*/
	
	scrollbar-3dlight-color:#4a6795;
	scrollbar-arrow-color:black;
	scrollbar-track-color:#4a6795;
	scrollbar-darkshadow-color:white;
	scrollbar-face-color:white;
	scrollbar-highlight-color:white;
	scrollbar-shadow-color:white;
}
.totaltxt {
	color:#033c77 !important;
	font:bold 13px Tahoma, Geneva, sans-serif;
}
.totaltxt:hover {
	color:#fff !important;
}
.oddbar09 {
	background-color:#f7f7f7;
	font: bold 14px Calibri, Tahoma;
	color:#59656c;
	text-align:left;
}
.oddbar09:hover {
	background-color:#59656c;
	color:#fff;
}
.oddbar09 td{
	padding:2px 5px 2px 5px;
	border:1px solid #ccc;
}
.evenbar09 {
	background-color:#ededed;
	font: bold 14px Calibri, Tahoma;
	color:#59656c;
	text-align:left;
}
.evenbar09:hover {
	background-color:#59656c;
	color:#fff;
}
.evenbar09 td{
	padding:2px 5px 2px 5px;
	border:1px solid #ccc;
}
.screenshowtxt09 {
	font:bold 12px Arial, Helvetica, sans-serif;
	text-align:center;
	color:#000;
	text-decoration:none;
	width:180px;
	display:block;
	/*cursor:pointer;*/
	position:absolute;
	padding:0 0 0 430px;
}

/*****Feb 14 2011******/
.maintopmenudd {
	margin:0px;
	/*height:440px;*/
	overflow:auto;
	
	scrollbar-3dlight-color:#4a6795;
	scrollbar-arrow-color:black;
	scrollbar-track-color:#4a6795;
	scrollbar-darkshadow-color:white;
	scrollbar-face-color:white;
	scrollbar-highlight-color:white;
	scrollbar-shadow-color:white;
}
.menubtn a{
	width:276px;
	height:22px;
	padding-top:4px;
	padding-left:30px;
	background-image: url(../images/menu_btn.png);
	background-repeat: no-repeat;
	text-decoration:none;
	display:block;
	font:bold 12px Tahoma, Geneva, sans-serif;
	text-align:left;
	color:#003280;
	margin: 0 50px 0 0;
}
.menubtn a:hover{
	background-position: 0px -26px;
	color:#fff;
}
/*INPUT {
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}*/
INPUT.login_field1 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:16px;
	width:250px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}
INPUT.login_field1:focus {
	width:250px;
	border: 1px solid #ffa11c;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}

INPUT.login_field02 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:16px;
	width:90px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}
INPUT.login_field02:focus {
	width:90px;
	border: 1px solid #ffa11c;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}

INPUT.login_field2 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:16px;
	width:100px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}
INPUT.login_field2:focus {
	width:100px;
	border: 1px solid #ffa11c;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}
INPUT.login_field3 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:16px;
	width:80px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}
INPUT.login_field3:focus {
	width:80px;
	border: 1px solid #ffa11c;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}

INPUT.login_field4 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:16px;
	width:30px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}
INPUT.login_field4:focus {
	width:30px;
	border: 1px solid #ffa11c;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}
INPUT.login_field5 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:16px;
	width:20px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}
INPUT.login_field5:focus {
	width:20px;
	border: 1px solid #ffa11c;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}
INPUT.login_field6 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:16px;
	width:10px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}
INPUT.login_field6:focus {	
	width:10px;
	border: 1px solid #ffa11c;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}
.Tabmain a{
	padding: 3px 30px;
	margin: 0px 5px 0px 0px;
	background:transparent url(../images/hoverimg-selected.gif) repeat-x center top;
	font: bold 12px Tahoma, Geneva, sans-serif;
	color: #FFF;
	border: 1px solid #536f97;
	text-decoration:none;
}
 .Tabmain a:hover{
	background:#0485c0 url(../images/hoverimg.gif) repeat-x center top;
	color: #093570;
}
.Tabmainselected {
	padding: 3px 30px;
	margin: 0px 5px 0px 0px;
	cursor: pointer;
	background:#d9dee9 url(../images/selected-hoverimg.gif) repeat-x center top;
	font: bold 12px Tahoma, Geneva, sans-serif;
	color:#000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #7f8eaf;
	border-right-color: #7f8eaf;
	border-bottom-color: #d9dee9;
	border-left-color: #7f8eaf;
}
.TabmainContent {
	padding: 3px 4px;
	font-family: Tahoma, Geneva, sans-serif;
	height:470px;
	background:#dfe7f2;
	border:1px solid #7f8eaf;
	scrollbar-face-color: #8b919a;
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
	overflow-x: auto;
	overflow-y: none;
}
/*Addded By Ahsan Khurshid*/
.fillrank {
	border: 1px solid #7f8eaf;
	padding:3px 10px 3px 3px;
	font: bold 14px Tahoma, Geneva, sans-serif;
}
.customerBox {
	background-color: #dfe7f2;
	border: 1px solid #7f8eaf;
	font: normal 14px Tahoma, Geneva, sans-serif; 
	width: 400px;
	height: 80px;
	padding: 10px;
	text-align: left; 
}
/*End*/
.fillbar {
	border-top: 1px solid #7f8eaf;
	border-left: 1px solid #7f8eaf;
	border-bottom: 1px solid #7f8eaf;
	padding:3px 10px 3px 3px;
}
.fillbor58 {
	border-left: 1px solid #7f8eaf;
	border-right: 1px solid #7f8eaf;
	border-bottom: 1px solid #7f8eaf;
}
.fillbarnew {
	border: 1px solid #7f8eaf;
	/*border-top: 1px solid #b99b75;
	border-right: 1px solid #b99b75;
	border-bottom: 1px solid #b99b75;*/
	background:#fff;
}
.txt2 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	color:#1d3c81;
}
INPUT.login_fieldbig {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:16px;
	width:600px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}
INPUT.login_fieldbig:focus {
	width:600px;
	border: 1px solid #ffa11c;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}
INPUT.login_field1new {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:16px;
	width:200px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}
INPUT.login_field1new:focus {
	width:200px;
	border: 1px solid #ffa11c;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}
INPUT.login_field4new {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:16px;
	width:60px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}
INPUT.login_field4new:focus {
	width:60px;
	border: 1px solid #ffa11c;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}
INPUT.login_field5new {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:16px;
	width:10px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:17px;
}
INPUT.login_field5new:focus {
	width:10px;
	border: 1px solid #ffa11c;
	background:#f0f1f2 url(../images/fieldshadow.png) repeat-x center bottom;
}
.oddbar10 {
	background-color:#f7f7f7;
	font: bold 12px Tahoma, Geneva, sans-serif;
	color:#59656c;
	text-align:left;
}
.oddbar10:hover {
	background-color:#5490c0;
	color:#fff;
}
.oddbar10 td{
	padding:2px 5px 2px 5px;
	border:1px solid #ccc;
}
.evenbar10 {
	background-color:#ededed;
	font: bold 12px Tahoma, Geneva, sans-serif;
	color:#59656c;
	text-align:left;
}
.evenbar10:hover {
	background-color:#5490c0;
	color:#fff;
}
.evenbar10 td{
	padding:2px 5px 2px 5px;
	border:1px solid #ccc;
}
.bartab1 {
	background:#e0e0e0;
	padding:4px 10px;
	font:bold 11px Tahoma, Geneva, sans-serif;
	text-align:left;
	color:#900;
	border:1px solid #c3c3c3;
}
.bartab2 {
	background:#1d4f8f;
	padding:4px 10px;
	font:bold 11px Tahoma, Geneva, sans-serif;
	text-align:left;
	color:#FFF;
	border:1px solid #536f97;
}
.bartab2 a {
	color:#FFF;
	font:bold 11px Tahoma, Geneva, sans-serif;
	text-align:left;
	text-decoration: none;
}
.bartab2 a:hover {
	text-decoration: underline;
}
.fotbar10 {
	background-color:#1d4f8f;
	font: bold 12px Tahoma, Geneva, sans-serif;
	color:#fff;
	text-align:left;
}
.fotbar10 td{
	padding:2px 5px 2px 5px;
	border:1px solid #ccc;
}

/*****Feb 18 2011******/
.popupmain57 {
	margin:0px auto;
	width:450px;
	height:auto;
}

/*****March 08 2011******/
.bar08 {
	border:1px solid #536f97;
	padding:2px 5px;
}

/**** Ahsan Khurshid ****/
.lineTitle {
	font-size: 12px;
	font-weight:bold;
	color:#fff;
	height: 18px;
	background:#2c68a5 url(images/title-line-bg.png) left top repeat-x;		
}
.rowOdd {
	background-color:#fff;
	font-size: 12px;
	color:#000;
	font-weight: bold;
}
		
.rowOdd td {
	padding: 2px 20px 2px 0;
	text-align:right;	
}
.rowEven {
	background-color:#ededed;
	font-size: 12px;
	color:#000;
	font-weight: bold; 
}
		
.rowEven td {
	padding: 2px 20px 2px 0;
	text-align:right;	
}
				
.omText {
	background-color: #C9CFD6;
	padding: 2px 20px 2px 20px;
	font-weight:bold;
}
.coptions {
	color:#1D3C81;
	font-weight:bold;
}
.padLeft {
	padding-left: 20px;	
}
.padRight {
	padding-right: 20px;	
}

/****************May 042011************/
.prevbtn a{
	margin:0px;
	width:71px;
	height:21px;
	padding:5px 0px 0px 30px;
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#FFF;
	text-transform:uppercase;
	text-align:left;
	text-decoration:none;
	vertical-align:text-top;
	display:block;
	text-decoration:none;
	background:transparent url(../images/button_prev.png) no-repeat center top;
	white-space:nowrap;
}
.prevbtn a:hover{
	color:#000;
	background:transparent url(../images/button_prev.png) no-repeat center -26px;
}
.nextbtn a{
	margin:0px;
	width:56px;
	height:21px;
	padding:5px 0px 0px 35px;
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#FFF;
	text-transform:uppercase;
	text-align:left;
	text-decoration:none;
	vertical-align:text-top;
	display:block;
	text-decoration:none;
	background:transparent url(../images/button_next.png) no-repeat center top;
	white-space:nowrap;
}
.nextbtn a:hover{
	color:#000;
	background:transparent url(../images/button_next.png) no-repeat center -26px;
}
.txtmsg {
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#3B0B0B;
	padding: 0 0 10px 0;
	text-align: center;
}
select.field1 {
	padding-top:0px;
	border: solid 1px #999;
	padding-left:4px;
	height:18px;
	width:50px;
	background-image: url(../images/rpt_img3.png);
	background-repeat: repeat-x;
	font:bold 11px Tahoma, Geneva, sans-serif;
}
.errorMsgNew {
	font: bold 12px Calibri, Tahoma;
	/*text-transform:uppercase;*/
	color:red;
	text-align:center;
	position: relative;
	padding: 5px;
	width: 300px;
	background: #ccc;
	margin-top: -140px;
	margin-left: 375px;
	border: 1px solid #1c5190;
	outline: 5px solid #467bbb;
}


/******************May 20 2011 Inputs new*****************/
input.field20 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:10px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field20.png) no-repeat top right;
    line-height:18px;
}
input.field20:focus {
	background: transparent url(../images/field20.png) no-repeat bottom right;
}
input.field30 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:20px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field30.png) no-repeat top right;
    line-height:18px;
}
input.field30:focus {
	background: transparent url(../images/field30.png) no-repeat bottom right;
}
input.field40 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:30px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field40.png) no-repeat top right;
    line-height:18px;
}
input.field40:focus {
	background: transparent url(../images/field40.png) no-repeat bottom right;
}
input.field50 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:30px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field50.png) no-repeat top right;
    line-height:18px;
}
input.field50:focus {
	background: transparent url(../images/field50.png) no-repeat bottom right;
}
input.field60 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:40px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field60.png) no-repeat top right;
    line-height:18px;
}
input.field60:focus {
	background: transparent url(../images/field60.png) no-repeat bottom right;
}
input.field70 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:50px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field70.png) no-repeat top right;
    line-height:18px;
}
input.field70:focus {
	background: transparent url(../images/field70.png) no-repeat bottom right;
}
input.field80 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:60px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field80.png) no-repeat top right;
	line-height:18px;
    line-height:18px;
}
input.field80:focus {
	background: transparent url(../images/field80.png) no-repeat bottom right;
}
input.field90 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:60px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field90.png) no-repeat top right;
    line-height:18px;
}
input.field90:focus {
	background: transparent url(../images/field90.png) no-repeat bottom right;
}
input.field100 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:70px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field100.png) no-repeat top right;
    line-height:18px;
}
input.field100:focus {
	background: transparent url(../images/field100.png) no-repeat bottom right;
}
input.field110 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:80px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field110.png) no-repeat top right;
    line-height:18px;
}
input.field110:focus {
	background: transparent url(../images/field110.png) no-repeat bottom right;
}
input.field120 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:90px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field120.png) no-repeat top right;
    line-height:18px;
}
input.field120:focus {
	background: transparent url(../images/field120.png) no-repeat bottom right;
}
input.field130 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:100px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field130.png) no-repeat top right;
    line-height:18px;
}
input.field130:focus {
	background: transparent url(../images/field130.png) no-repeat bottom right;
}
input.field140 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:110px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field140.png) no-repeat top right;
    line-height:18px;
}
input.field140:focus {
	background: transparent url(../images/field140.png) no-repeat bottom right;
}
input.field150 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:110px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field150.png) no-repeat top right;
    line-height:18px;
}
input.field150:focus {
	background: transparent url(../images/field150.png) no-repeat bottom right;
}
input.field160 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:120px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field160.png) no-repeat top right;
    line-height:18px;
}
input.field160:focus {
	background: transparent url(../images/field160.png) no-repeat bottom right;
}
input.field170 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:130px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field170.png) no-repeat top right;
    line-height:18px;
}
input.field170:focus {
	background: transparent url(../images/field170.png) no-repeat bottom right;
}
input.field180 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:140px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field180.png) no-repeat top right;
    line-height:18px;
}
input.field180:focus {
	background: transparent url(../images/field180.png) no-repeat bottom right;
}
input.field190 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:140px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field190.png) no-repeat top right;
    line-height:18px;
}
input.field190:focus {
	background: transparent url(../images/field190.png) no-repeat bottom right;
}
input.field200 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:150px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field200.png) no-repeat top right;
    line-height:18px;
}
input.field200:focus {
	background: transparent url(../images/field200.png) no-repeat bottom right;
}
input.field210 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:160px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field210.png) no-repeat top right;
    line-height:18px;
}
input.field210:focus {
	background: transparent url(../images/field210.png) no-repeat bottom right;
}
input.field220 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:160px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field220.png) no-repeat top right;
    line-height:18px;
}
input.field220:focus {
	background: transparent url(../images/field220.png) no-repeat bottom right;
}
input.field230 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:170px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field230.png) no-repeat top right;
    line-height:18px;
}
input.field230:focus {
	background: transparent url(../images/field230.png) no-repeat bottom right;
}
input.field240 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:180px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field240.png) no-repeat top right;
    line-height:18px;
}
input.field240:focus {
	background: transparent url(../images/field240.png) no-repeat bottom right;
}
input.field250 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:190px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field250.png) no-repeat top right;
    line-height:18px;
}
input.field250:focus {
	background: transparent url(../images/field250.png) no-repeat bottom right;
}
input.field260 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:190px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field260.png) no-repeat top right;
    line-height:18px;
}
input.field260:focus {
	background: transparent url(../images/field260.png) no-repeat bottom right;
}
input.field270 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:200px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field270.png) no-repeat top right;
    line-height:18px;
}
input.field270:focus {
	background: transparent url(../images/field270.png) no-repeat bottom right;
}
input.field280 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:210px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field280.png) no-repeat top right;
    line-height:18px;
}
input.field280:focus {
	background: transparent url(../images/field280.png) no-repeat bottom right;
}
input.field290 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:210px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field290.png) no-repeat top right;
    line-height:18px;
}
input.field290:focus {
	background: transparent url(../images/field290.png) no-repeat bottom right;
}
input.field300 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:220px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field300.png) no-repeat top right;
    line-height:18px;
}
input.field300:focus {
	background: transparent url(../images/field300.png) no-repeat bottom right;
}
input.field310 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:230px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field310.png) no-repeat top right;
    line-height:18px;
}
input.field310:focus {
	background: transparent url(../images/field310.png) no-repeat bottom right;
}
input.field320 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:240px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field320.png) no-repeat top right;
    line-height:18px;
}
input.field320:focus {
	background: transparent url(../images/field320.png) no-repeat bottom right;
}
input.field330 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:240px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field330.png) no-repeat top right;
    line-height:18px;
}
input.field330:focus {
	background: transparent url(../images/field330.png) no-repeat bottom right;
}
input.field340 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:250px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field340.png) no-repeat top right;
    line-height:18px;
}
input.field340:focus {
	background: transparent url(../images/field340.png) no-repeat bottom right;
}
input.field350 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:260px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field350.png) no-repeat top right;
    line-height:18px;
}
input.field350:focus {
	background: transparent url(../images/field350.png) no-repeat bottom right;
}
input.field360 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:260px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field360.png) no-repeat top right;
    line-height:18px;
}
input.field360:focus {
	background: transparent url(../images/field360.png) no-repeat bottom right;
}
input.field370 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:270px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field370.png) no-repeat top right;
    line-height:18px;
}
input.field370:focus {
	background: transparent url(../images/field370.png) no-repeat bottom right;
}
input.field380 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:280px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field380.png) no-repeat top right;
    line-height:18px;
}
input.field380:focus {
	background: transparent url(../images/field380.png) no-repeat bottom right;
}
input.field390 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:290px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field390.png) no-repeat top right;
    line-height:18px;
}
input.field390:focus {
	background: transparent url(../images/field390.png) no-repeat bottom right;
}
input.field400 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:300px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field400.png) no-repeat top right;
    line-height:18px;
}
input.field400:focus {
	background: transparent url(../images/field400.png) no-repeat bottom right;
}
input.field410 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:300px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field410.png) no-repeat top right;
    line-height:18px;
}
input.field410:focus {
	background: transparent url(../images/field410.png) no-repeat bottom right;
}
input.field420 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:310px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field420.png) no-repeat top right;
    line-height:18px;
}
input.field420:focus {
	background: transparent url(../images/field420.png) no-repeat bottom right;
}
input.field430 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:310px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field430.png) no-repeat top right;
    line-height:18px;
}
input.field430:focus {
	background: transparent url(../images/field430.png) no-repeat bottom right;
}
input.field440 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:320px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field440.png) no-repeat top right;
    line-height:18px;
}
input.field440:focus {
	background: transparent url(../images/field440.png) no-repeat bottom right;
}
input.field450 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:330px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field450.png) no-repeat top right;
    line-height:18px;
}
input.field450:focus {
	background: transparent url(../images/field450.png) no-repeat bottom right;
}
input.field460 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:340px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field460.png) no-repeat top right;
    line-height:18px;
}
input.field460:focus {
	background: transparent url(../images/field460.png) no-repeat bottom right;
}
input.field470 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:350px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field470.png) no-repeat top right;
    line-height:18px;
}
input.field470:focus {
	background: transparent url(../images/field470.png) no-repeat bottom right;
}
input.field480 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:360px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field480.png) no-repeat top right;
    line-height:18px;
}
input.field480:focus {
	background: transparent url(../images/field480.png) no-repeat bottom right;
}
input.field490 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:360px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field490.png) no-repeat top right;
    line-height:18px;
}
input.field490:focus {
	background: transparent url(../images/field490.png) no-repeat bottom right;
}
input.field500 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:370px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field500.png) no-repeat top right;
    line-height:18px;
}
input.field500:focus {
	background: transparent url(../images/field500.png) no-repeat bottom right;
}
input.field510 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:380px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field510.png) no-repeat top right;
    line-height:18px;
}
input.field510:focus {
	background: transparent url(../images/field510.png) no-repeat bottom right;
}
input.field520 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:380px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field520.png) no-repeat top right;
    line-height:18px;
}
input.field520:focus {
	background: transparent url(../images/field520.png) no-repeat bottom right;
}
input.field530 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:390px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field530.png) no-repeat top right;
    line-height:18px;
}
input.field530:focus {
	background: transparent url(../images/field530.png) no-repeat bottom right;
}
input.field540 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:400px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field540.png) no-repeat top right;
    line-height:18px;
}
input.field540:focus {
	background: transparent url(../images/field540.png) no-repeat bottom right;
}
input.field550 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:410px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field550.png) no-repeat top right;
    line-height:18px;
}
input.field550:focus {
	background: transparent url(../images/field550.png) no-repeat bottom right;
}
input.field560 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:410px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field560.png) no-repeat top right;
    line-height:18px;
}
input.field560:focus {
	background: transparent url(../images/field560.png) no-repeat bottom right;
}
input.field570 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:420px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field570.png) no-repeat top right;
    line-height:18px;
}
input.field570:focus {
	background: transparent url(../images/field570.png) no-repeat bottom right;
}
input.field580 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:430px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field580.png) no-repeat top right;
    line-height:18px;
}
input.field580:focus {
	background: transparent url(../images/field580.png) no-repeat bottom right;
}
input.field590 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:440px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field590.png) no-repeat top right;
    line-height:18px;
}
input.field590:focus {
	background: transparent url(../images/field590.png) no-repeat bottom right;
}
input.field600 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:450px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field600.png) no-repeat top right;
    line-height:18px;
}
input.field600:focus {
	background: transparent url(../images/field600.png) no-repeat bottom right;
}
input.field610 {
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:450px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field600.png) no-repeat top left;
    line-height:18px;
}
input.field610:focus {
	background: transparent url(../images/field600.png) no-repeat bottom left;
}


/***********Aamir 02 June 2011***********/
#menuFrameDiv {
	border: 1px solid #ccc;
}
.allbtn23 {
border:0px solid #6a5c3d;
background:transparent url(../images/calendar.gif) no-repeat;
color:#000;
cursor: pointer;
text-indent: -9000px;
}
.contentbgmainright_2 {
	/*background:transparent url(../images/content_bg.gif) repeat-x center top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding:5px 5px 0px 0px;*/
	height:500px;
	overflow: auto;
	width: 900px;
	
	scrollbar-face-color: #8b919a;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-track-color: #fff;
}
.usetax {
	font: bold 12px Tahoma;
	color:#1b4d8c;
	text-align:center; 
}

.txtclr {
	font-size:12px;
	color:#1f599a;
}

a.funbtn {
	font:bold 11px Tahoma, Geneva, sans-serif;
	color:#FFF;
	background:transparent url(../images/menu_img.gif) repeat-x center top;
	height:20px;
	padding:4px 10px 0px 10px;
	text-decoration:none;
	width:auto;
	display:block;
	border:1px solid #4e6898;
	text-align:center;
	white-space:nowrap;
	float: left;
	margin-right: 5px;
}
a.funbtn:hover{
	background:transparent url(../images/menu_img.gif) repeat-x center bottom;
	border:1px solid #59656c;
	color:#404040;
}
.mainpopt { width: 400px; height: auto; border:3px solid #ccc; margin: 0px auto; }
.toptxt { font: bold 12px Tahoma, Geneva, sans-serif; color:#59656c; text-align:center; }
/*By AKR*/


.topbar_tab a{
	font: bold 11px Arial, Helvetica, sans-serif;
	color:#f1f1f1;
	text-decoration: none;
	display: block;
	background: #4a4a4a;
	float: left;
	margin-right: 5px;
	padding: 2px 10px 3px 10px;
}
.topbar_tab a:hover{
	color:#262626;
	background: #e0e0e0;
}

/************ Dec 02 2011 *************/
a.functionbtn3{
	margin:0px;
	width:149px;
	height:33px;
	padding:5px 0px 0px 0px;
	font:bold 10px Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	vertical-align:text-top;
	display:block;
	text-decoration:none;
	background: #000 url(../images/menu_btn2.gif) no-repeat center bottom;
}
a.functionbtn3:hover{
	color:#fff;
	background: #fdaa34 url(../images/menu_btn2.gif) no-repeat center top;
}
/************************************************
				Aamir March 13 2012
************************************************/
.redtxt {
	color:#FF0000;
	width:30px;
	display:block;
	float:left;
}
table.commontab {border-collapse:collapse;}
.commontab {font: bold 11px Tahoma, Geneva, sans-serif;}
.commontab td{border:1px solid #ccc;}

.oddbar13 {background-color:#f7f7f7; color:#333; text-align:left;}
.oddbar13 td{padding:2px 5px 2px 5px;}
.oddbar13 td a {color:#333;}
.oddbar13 td a:hover {text-decoration:none; color:#1b4d8c;}
.evenbar13 {background-color:#ededed; color:#333; text-align:left;}
.evenbar13 td{padding:2px 5px 2px 5px;}
.evenbar13 td a {color:#333;}
.evenbar13 td a:hover {text-decoration:none; color:#1b4d8c;}

.oddbar14 {background-color:#f7f7f7; color:#1b4d8c; text-align:left;}
.oddbar14:hover {background-color:#5490c0; color:#fff;}
.oddbar14 td{padding:2px 5px 2px 5px;}
.evenbar14 {background-color:#ededed; color:#1b4d8c; text-align:left;}
.evenbar14:hover {background-color:#5490c0; color:#fff;}
.evenbar14 td{padding:2px 5px 2px 5px;}
/****************19th March 2012 (zahoor)*************************/
.hiddenInput{
	display: none;
	border:none;
	outline:none;
	margin:0px;
	padding:0px 4px 0 6px;
	width:10px;
	height:18px;
	font:normal 11px Tahoma, Geneva, sans-serif;
	background: transparent url(../images/field20.png) no-repeat top right;
    line-height:18px;
}
.outerInput{
}