/* Main body - Defaults */
body{
    font-family: Arial, Helvetica, sans-serif;
    
    scrollbar-face-color:#CCCCCC;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#6B7A92;
	scrollbar-darkshadow-color:#6B7A92;
	scrollbar-track-color:#E2E2E2;
	scrollbar-arrow-color:#6B7A92
	                      
	    
}

caption{
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    white-space: nowrap;
}

td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 77.0%;
}

th{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 77.0%;
    white-space: nowrap;
}
/* Forms */
INPUT, SELECT, TEXTAREA {
	font-family: Arial, Helvetica, sans-serif;
	font-size:95.0%
}

/* overview page */
.nolines {  font-size: 75.0%; borders: 0px solid #CCCCFF;  }
.linesmost { font-size: 75.0%;   border-left: 0px; border-bottom: 0px; border-top: 1px solid #CCCCFF; border-right: 1px solid #CCCCFF;  background-color: #FFFFFF; padding-bottom: 12px}
.purpletext { font-family: sans-serif; color: #9933CC; font-size: 104.0%;}
.purplebold { font-weight: bold; color: #9933CC; font-size: 115%; font-family: Helvetica,sans-serif;}
.graytext { font-family: sans-serif; color: #666666; font-size: 104.0%;}
.graybold { font-weight: bold; color: #363636; font-size: 107.0%; font-family: Helvetica,sans-serif;}
.desctextabout { font-family: sans-serif; color: #363636; font-size: 101%; padding-bottom: 5px; line-height: 160%}
.desctexthead { font-weight: 600; font-family: sans-serif; color: #333333; font-size: 104.0%; padding-bottom: 5px; line-height: 155%}
.desctext { font-family: sans-serif; color: #666666; font-size: 100.0%; line-height: 130%}
.bluebold { font-weight: bold; color: #330066; font-size: 107.0%; font-family: Helvetica,sans-serif;}
a .purpletext { text-decoration: underline #000000}
a .purplebold { text-decoration: underline  #000000}
a .bluebold  {  text-decoration: underline  #000000}
a .graybold  {  text-decoration: underline  #000000}


/* Heading and instructions */

.header {
	font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #8691C7;
	font-weight: bold;
}


.instructions {
	font-family: Arial, Helvetica, sans-serif;
    color: black ;
	background-color: #ffffdd;
}

/* Messge table */
.message-header {
	font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #6b7a92;
	font-weight: bold;
}

.message-content {
	font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}
	

/* Main information table */

.layout-manager {
	
	background-color: #d2d2d2;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
}

.data-table {
	background-color:#888888;
    white-space : nowrap;
}

.data-table-row {
	background-color: #f7f7f7;
}

.input-table { background-color: #767776; background-image: none; }
.input-table-text {   font-family: Arial,Helvetica, sans-serif; background-color: #F7F7F7; background-image: none;
	vertical-align: top; }

.header {  margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px ; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid black; }


.data-footer {
	background-color:C9C9C9;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888;
	border-left: 1px solid #888888;
}

	

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90.0%;
    margin: 1px 2px 1px 2px;
    border-top: 1px outset #B1B1B1;
    border-right: 1px outset #000000;
    border-bottom: 1px outset #000000;
    border-left: 1px outset #B1B1B1;
    background-color:#CCCCCC;
}

.button-section {
	background-color:#E2E2E2;
}

.columnHeader {
	color: #000000;
	background-color: #bbcedb;
	font-weight: bold;
	text-align: left;
}

.oddrow {
	background-color: #f7f7f7;
	height: 30px
}

.evenrow {
	background-color: #eeeeee;
	height: 30px;
}

.footer {
	background-color: #c9c9c9;

}


/* Links */
a:link, a:visited {
	color: blue;
}

a.imagelink{
	text-decoration: none
     
}

