/* Information on  stylesheets and templates is available in   *
 * the User's and Administrator's Guide                        */
@import url(commontheme.css);
@import url(calendar.css);


/* monochrometheme specific additions to inlineCalendar */
table.calendar {
	background-color: black;
}

.month, .year,.hatsCalendarCloseBar {
	background-color: #bbbbbb !important;
}

.hatsCalendarCloseBar {
	background-color: #888888 !important;
}

.dayOfWeek {
	background-color: #888888 !important;
}

.day {
	background-color: #bbbbbb !important;
}

/* end inlineCalender modifications */


BODY {
	background-color: white;
	color: black;
	font-family:  arial, tahoma, helvetica, sans-serif;
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

TD, P, INPUT, SELECT, TH {
	font-family: arial, tahoma, helvetica, sans-serif;
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

TT {
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

/* interactive control classes */
INPUT.HATSINPUT {
	
}

INPUT.HATSBUTTON {

}

SELECT.HATSDROPDOWN {
	font-family: arial, tahoma, helvetica, sans-serif;
	/* For accessibility compliance: remove the following line */
	font-size: 10pt;
}

/* static text classes */

.HATSBUTTONTABLECELL {
	padding: 4px;
}

/* table classes */
TABLE.HATSTABLE {
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;	
	background-color: white;
	border-collapse: collapse;
}

.HATSTABLEHEADER {
	background-color: #808080;
	color: white;
	font-weight: bold;
	text-align: center;
	
	padding: 4px;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;	
}

.HATSTABLEEVENROW {
	background-color: #FFFFFF;
}

.HATSTABLEODDROW {
	background-color: #e8e8e8;
}

TD.HATSTABLECELL {
	padding: 4px;
	
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;	
}

TD.HATSTABLECAPTIONCELL {
	padding: 4px;
	
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;	
}

TABLE.HATSFIELDTABLE {
	white-space: normal;
	letter-spacing: normal;
}

.HATSFIELD {
	font-family: courier new, monospace;
	
	color: black;
}

/* Disabled field */
.HDF {
	font-family: courier new, monospace;
	
	color: gray;
}

/* links */
A.HATSLINK:link, A.HATSLINK:visited {
	
	color: blue;
}

A.HATSLINK:hover {
	color: #5555ff;
}

A.HATSPROTLINK:link, A.HATSPROTLINK:visited {
	
	color: black;
	text-decoration: none;
}

A.HATSPROTLINK:hover {
	color: blue;
	text-decoration: underline;
}

/* popup classes */
DIV.HATSPOPUP {
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	width: 150px;
	height: 170px;
	overflow: auto;
	border: solid 1px gray;
	background-color: #eeeeff;
	/*-moz-opacity: .46; only works in ns7, moz */
	filter: alpha(opacity=90, style=0);
	z-index: 5;
	-moz-border-radius: 6%;
}

TABLE.HATSPOPUPTABLE {
	background-color: #eeeeff;
	border: 0px;
	width: 100%;
}

TH.HATSPOPUPTH {
	background-color: #cccccc;
	text-align: right;
}

A.HATSPOPUPITEMLINK:link, A.HATSPOPUPITEMLINK:visited {
	color: blue;
}

A.HATSPOPUPITEMLINK:hover {
	color: navy;
}

/* Style Definition for all widgets with color mapping enabled (Hcolor)  */
/* These color map the terminal fields foreground colors to these .html  */
/* color and attributes.                                                 */
.HBLANK, input.HBLANK {
	color: black;
	white-space: normal;
	letter-spacing: normal;
}

.HBLUE, input.HBLUE {
	color: #384294;
	white-space: normal;
	letter-spacing: normal;
}

.HGREEN, input.HGREEN {
	color: #3a6334;
	white-space: normal;
	letter-spacing: normal;
}

.HCYAN, input.HCYAN {
	color: #328d8d;
	white-space: normal;
	letter-spacing: normal;
}

.HRED, input.HRED {
	color: #95373f;
	white-space: normal;
	letter-spacing: normal;
}

.HMAGENTA, input.HMAGENTA {
	color: #632e70;
	white-space: normal;
	letter-spacing: normal;
}

.HBROWN, input.HBROWN {
	color: #766830;
	white-space: normal;
	letter-spacing: normal;
}

.HWHITE, input.HWHITE {
	color: #666666;
	white-space: normal;
	letter-spacing: normal;
}

.HGRAY, input.HGRAY {
	color: #555555;
	white-space: normal;
	letter-spacing: normal;
}

.HLBLUE, input.HLBLUE {
	color: #555555;
	white-space: normal;
	letter-spacing: normal;
}

.HLGREEN, input.HLGREEN {
	color: #888888;
	white-space: normal;
	letter-spacing: normal;
}

.HLCYAN, input.HLCYAN {
	color: #666666;
	white-space: normal;
	letter-spacing: normal;
}

.HLRED, input.HLRED {
	color: red;
	white-space: normal;
	letter-spacing: normal;
}

.HLMAGENTA, input.HLMAGENTA {
	color: #555555;
	white-space: normal;
	letter-spacing: normal;
}

.HLYELLOW, input.HLYELLOW {
	color: #666666;
	white-space: normal;
	letter-spacing: normal;
}

.HHWHITE, input.HHWHITE {
	color: black;
	white-space: normal;
	letter-spacing: normal;
}

/* keypad links */
A.HostKeyLink {
	color: blue;
	
}

A.ApplicationKeyLink {
	color: black;
	
}

/* keypad buttons */
INPUT.ApplicationButton {
	background-color: #d0d0d0;
	color: black;
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

INPUT.HostPFKey {
	background-color: #d0d0d0;
	color: black;
	width: 4em;
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

INPUT.HostButton {
	background-color: #9b9b9b;
	color: black;
	width: 8em;	
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

INPUT.ApplicationButton:hover {
	border-color: #cccccc;
}

INPUT.HostPFKey:hover {
	border-color: #cccccc;
}

INPUT.HostButton:hover {
	border-color: #cccccc;
}

/* keypad dropdowns */
select.ApplicationDropDown, select.HostDropDown {
	font-family: arial, tahoma, helvetica, sans-serif;
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

/* keypad tables */
TABLE.HostKeypad {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: #efefef;
}

.HostKeypad {
	text-align: center;
}


/* focus indicator classes used for portlets */
.HATSFOCUSED {
	border: thin solid blue;
}

.HATSSTATUSHEADER {
	border-color: #888888;
	border-style: solid;
	border-width: 1px;
	color: white;
	background-color: #555555;
	/* For accessibility compliance: change following value to 180% */
	font-size: 18pt;
	font-weight: bold;
}

.HATSSTATUSFOOTER {
	border-color: #888888;
	border-style: solid;
	border-width: 1px;
	color: black;
	background-color: #cccccc;
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

.HATSFOOTERSTATUSHEADER, .HATSFOOTERSTATUSINFO {
	/* For accessibility compliance: change following value to 90% */
	font-size: 9pt;
}

.statusArea {
	font-family:  arial, tahoma, helvetica, sans-serif;
	margin: auto;
	background-color: white;
	color: black;
}
DIV.statusArea {
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
}
TABLE.statusArea{
	table-layout: fixed;
	empty-cells: hide;
}
.inputInhibited{
	color:red;
	font: bold;
}
IMG.sslCheck{
	color: white;
	background-color: white;
}

.HCURSORINDICATOR {
	color: red;
	text-decoration: underline;
	font: bold;
	background-color:  #666666;
}

.HF {
	font-family: courier new, monospace;
}
