/* Information on  stylesheets and templates is available in   *
 * of the User's and Administrator's Guide                     */

.HATSLINK {
	font-family: tahoma, arial, sans-serif;
}

.HATSPROTLINK {
	font-family: tahoma, arial, sans-serif;
}

.HBLANK {
	font-family: tahoma, arial, sans-serif;
}

.HBLUE {
	font-family: tahoma, arial, sans-serif;
}

.HGREEN {
	font-family: tahoma, arial, sans-serif;
}

.HCYAN {
	font-family: tahoma, arial, sans-serif;
}

.HRED {
	font-family: tahoma, arial, sans-serif;
}

.HMAGENTA {
	font-family: tahoma, arial, sans-serif;
}

.HBROWN {
	font-family: tahoma, arial, sans-serif;
}

.HWHITE {
	font-family: tahoma, arial, sans-serif;
}

.HGRAY {
	font-family: tahoma, arial, sans-serif;
}

.HLBLUE {
	font-family: tahoma, arial, sans-serif;
}

.HLGREEN {
	font-family: tahoma, arial, sans-serif;
}

.HLCYAN {
	font-family: tahoma, arial, sans-serif;
}

.HLRED {
	font-family: tahoma, arial, sans-serif;
}

.HLMAGENTA {
	font-family: tahoma, arial, sans-serif;
}

.HLYELLOW {
	font-family: tahoma, arial, sans-serif;
}

.HHWHITE {
	font-family: tahoma, arial, sans-serif;
}

.HATSFIELD, .HDF {
	font-family: tahoma, arial, sans-serif;
}